<!-- Begin header -->

	{{ theme:partial name="cart" }}
	<nav id="MainNav" class="navbar navbar-default shellOff">
		<div class="container">
			<div class="row shellOff">
				<div class="col-sm-3 col-md-2 logocase text-right  ">
					 <a href="home">
					 {{ theme:image file="AYCA-STORE.png" alt="AYCA"  width="200" height="51" }}
					
					</a> 	
				</div>
				<div class="col-sm-4 col-md-6 searchbarTopNav cart-checkoutHide">
				<form  method="get"
						action="home/search/">
						<input type="hidden" value="{{currentCate}}" name="cId" id="byCatSelect">
						<input type="hidden" value="{{currentCateName}}" name="cName" id="byCatName">
						<div class="input-group">
							<div class="input-group-btn search-panel">
								<button style="margin-right: -2px;" data-toggle="dropdown"
									class="btn btn-default dropdown-toggle" type="button"
									aria-expanded="false">
											{{ if currentCateName }}
												{{currentCateName}}
													{{ else }}
												{{helper:lang line="all"}}
												{{ endif }}
										
									 <span class="caret">
									</span>
								</button>
								<ul role="menu" class="dropdown-menu">
									{{if currentCate}}
									<li><a data-cid="{{ category_id }}" href="{{ url:site uri=slugurl}}">{{helper:lang line="all"}}</a></li>
									{{endif}}
									{{ categories }}
									<li><a data-cid="{{ category_id }}" href="{{ url:site uri=slugurl}}">{{category}}</a></li>
									{{ /categories }}

								</ul>
							</div>

							<input type="text" placeholder="{{if currentCateName}} {{ helper:lang line="search_in_category" }} {{currentCateName}} {{else}} {{ helper:lang line="search_over" }} {{endif}}"
								name="search" class="form-control"> <span
								class="input-group-btn">
								<button type="submit" class="btn btn-default"
									id="plsWaitSearchBtn">
									<span class="glyphicon glyphicon-search"></span>
								</button>
							</span>

						</div>
					</form>
				</div>

				<div class="col-sm-4 hidden-xs cart-checkoutHide">
					<ul class="nav navbar-nav ">
						<li class="dropdown"><a aria-expanded="false" role="button"
							data-toggle="dropdown"
							class="dropdown-toggle text-uppercase tpnav" href="#"> <strong>{{helper:lang line="category"}}</strong>
								<span class="caret"></span>
						</a>
							<ul role="menu" class="dropdown-menu">
	
								<li><a data-cid="{{ category_id }}" href="{{ url:site uri=slugurl}}">{{helper:lang line="all"}}</a></li>
									{{ categories }}
									<li><a data-cid="{{ category_id }}" href="{{ url:site uri=slugurl}}">{{category}}</a></li>
									{{ /categories }}
							</ul></li>
						<li><a href="/Contact/">Help</a></li>
						<li><a class="visible-md visible-lg" href="tel:1-855-578-6376"><strong class="phonetop"><i class="fa fa-phone-square"></i> 855.578.6376</strong></a></li>
					</ul>
				</div>
				<div class="clear-fix"></div>

				<button data-target="#cartModal"
					class="navbar-btn navbar-right cart-checkoutHide cart-toggle"
					type="button" id="cartToggleButton">
					<span id="checkOutText"></span><span aria-hidden="true"
						class="glyphicon glyphicon-shopping-cart"></span> <span
						class="badge cart_item_count">{{cart_total}}</span>
				</button>

			</div>
		</div>
		
	</nav>
	 {{ if { url:segments segment="1" } == '' OR  { url:segments segment="1" } == 'home' }}
	<div class="shellOff">
	       
               
     
                   {{ widgets:instance id="2"}}
            
               
	</div>
	
	{{endif}}
	<!-- End user meta -->

<!-- End header -->