body{
    font-family: "roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
hr{
    margin: 11px 0 !important;
}
button.btn{
    margin: 0 2px;
}
.upload-button {
  
  background-color: #e6e6e6;
  border: 1px solid #ccc;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  min-width: 16px;
  padding: 4px 5px;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  width: auto;
  margin-left:0px;
   border-radius: 0 4px 4px 0;
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-repeat: no-repeat;
  color: #333;
  cursor: pointer;
  display: inline-block;

}
	
.header{
    border-top: none;
    border-radius-top: 0;
    -webkit-border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;
}
/*------------------------------------------------------------------
[ designContainer ]
*/
#neo{
	float:left;
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
}
.designContainer{
/*   position: relative; */
  text-align: center;
  line-height: 30px;
  min-height: 200px;
  min-height: 500px;

}
#Tshirtsrc{
  margin-top: -39px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 19px;
}
.designContainer .text, .designContainer .t{
  font-family: "Roboto";
  top: 110px;
  left: 0;
  right: 0;
  position: relative;
  margin: auto;
  max-width: 200px;
  max-height: 346px;
}

.designContainer .text p{
  width: auto;
  height: auto;
  display: block;
  -webkit-transition: display .3s;
  -moz-transition: display .3s ;
  -o-transition: display .3s ;
  transition: display .3s ;
  margin: auto !important;
}
.designContainer p{
  margin: auto !important;
  line-height: normal !important;
}
.designContainer .text p:hover, .designContainer .t p:hover{
    cursor: move;

}
.designContainer .text i, .designContainer .t i{
  cursor: pointer;
}
.t{
  z-index:90;
}
.container-fluid h5{
  margin: auto !important;
}
.help{
  font-size: 11px !important;
}
#myModal .designContainer .text,#myModal .designContainer .t{
  padding-top: 24px !important;
}
 #myModal .images{
  padding-top: 60px !important;
}

/*------------------------------------------------------------------
[ Loading anniamtion (on google font load) ]
*/
.loading{
  background: url('../img/ajax-loader.gif');
  width: 32px;
  height: 32px;
  position: absolute;
  z-index: 99;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

/*------------------------------------------------------------------
[ images Style ]
*/
#imagesContainer{
  width: 120px;
  height: auto;
  max-width: 480px;
  max-height: 600px;
  position: absolute;
  top: 190px;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
}
#imagesContainer img:hover{
  cursor: move;
}
.images{
  width:130px; height:200px;
  position: absolute;
}
.images img{
  width:100%; /* Set to auto to preserve aspect ratio */
  height:100%
}
.images .icon-remove:hover{
  cursor: pointer;
}

.tshirts li{
  float: left;
  width: 43px;
  padding: 4px;
  background: #fff;
  margin: 2px 2px !important;
    list-style:none !important;
  text-align: center;
  border: 1px solid gray;
    
}
.tshirts img{
  box-shadow: 0 0 0 0 !important; 
}
.navbar .nav > li{
  margin: auto !important;
}
.span6 ul li{
  list-style:none !important;
  margin: auto !important;
}
.input-medium{
  width: auto !important;
}


/*------------------------------------------------------------------
[ Overide Bootstrap css]
*/
.well{
  background-color: transparent;
  -webkit-box-shadow:  0 1px 1px rgba(0, 0, 0, 0.01);
  -moz-box-shadow:  0 1px 1px rgba(0, 0, 0, 0.01);
  box-shadow:  0 1px 1px rgba(0, 0, 0, 0.051);
}
.navbar-inner{
  padding-left: 12px;
  padding-right: 12px;
}

/*------------------------------------------------------------------
[ Widget / .widget ]
*/
.widget {
  position: relative;
  clear: both;
  width: auto;
  margin-bottom: 2em;

}
.widget .widget-header {
  position: relative;
  height: 40px;
  line-height: 40px;
  background: #E9E9E9;
  background: -moz-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #e9e9e9));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
  /* Opera11.10+ */

  background: -ms-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
  /* IE10+ */

  background: linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
  border: 1px solid #D5D5D5;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-background-clip: padding-box;
}
.widget .widget-header h3 {
  top: 2px;
  position: relative;
  left: 10px;
  display: inline-block;
  margin-right: 3em;
  font-size: 14px;
  font-weight: 600;
  color: #555;
  line-height: 18px;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
  margin: auto !important;
}
.widget .widget-header [class^="icon-"],
.widget .widget-header [class*=" icon-"] {
  display: inline-block;
  margin-left: 13px;
  margin-right: -2px;
  font-size: 16px;
  color: #555;
  vertical-align: middle;
}
.widget .widget-content {
  padding: 20px 15px 15px;
  background: #FFF;
  border: 1px solid #D5D5D5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.widget .widget-header + .widget-content {
  border-top: none;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.widget.widget-nopad .widget-content {
  padding: 0;
}
.widget .widget-content {
  *zoom: 1;
}
.widget .widget-content:before,
.widget .widget-content:after {
  display: table;
  content: "";
  line-height: 0;
}
.widget .widget-content:after {
  clear: both;
}
.widget.widget-table .widget-content {
  padding: 0;
}
.widget.widget-table .table {
  margin-bottom: 0;
  border: none;
}
.widget.widget-table .table tr td:first-child,
.widget.widget-table .table tr th:first-child {
  border-left: none;
}
.widget.widget-plain {
  background: transparent;
  border: none;
}
.widget.widget-plain .widget-content {
  padding: 0;
  background: transparent;
  border: none;
}
.widget.widget-box .widget-content {
  background: #E3E3E3;
  background: #FFF;
}

#footer p{
  text-align: right;
}
#font li{
  list-style:none !important;
  margin: auto !important;
}
.overlay{
  text-align: center;
  font-size: 20px;
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 1040;
 /* background: rgba(0,0,0,0.5) url('../img/ajax-loader.gif');*/
}


/*------------------------------------------------------------------
[ print option / @media print  ]
*/
@media print {
  .designContainer .text,.designContainer .t{
    padding-top: 24px !important;
  }
  i{
    display: none !important;

  }
.images{
    padding-top: 60px !important;
  }
  .navbar{
    visibility: hidden !important;
  }

}

