@CHARSET "ISO-8859-1";

/*
 .clothing-designer-1 > section {
    
    float:left;
}


.clothing-designer-1 .fpd-main-bar {width: 490px; 
}

.clothing-designer-1 .fpd-sub-bar{width: 490px;}
.clothing-designer-1 .fpd-main-container .fpd-product-stage{
	width: 490px;
}

.clothing-designer-1 .fpd-main-container {
   width: 490px;
}
*/