<!DOCTYPE html>
<html>
<head>
	{{ theme:partial name="metadata" }}
</head>
<body id="top">

	<!-- Begin pageWrapper -->

		{{ integration:analytics }}
		{{ theme:partial name="header" }}

		<!-- Begin contentWrapper -->
		<div class="container fix">
			
					 {{ if { url:segments segment="1" } == '' OR  { url:segments segment="1" } == 'home' }}


		
							<h4 class="text-primary text-uppercase" style="padding-top: 1em;">Popular</h4>
		  				 {{ widgets:instance id="3"}}

						{{endif}}
				
				{{ theme:partial name="content" }}

		</div>
		<!-- End contentWrapper -->

	{{ theme:partial name="footer" }}

	<!-- End pageWrapper -->

</body>
</html>