@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(u-WUoqrET9fUeobQW7jkRfY6323mHUZFJMgTvxaG2iE.eot)/*tpa=http://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRfY6323mHUZFJMgTvxaG2iE.eot*/;
}
