<div id="footer" class="shellOff">
	<div class="darkbg shellOff">
		<div class="container" style="padding-top:1.5em;">
			<div class="col-sm-offset-0 col-sm-6 col-sm-push-6">
				<a href="https://www.facebook.com/SunFrogShirts" target="new" class="socialIcon facebook"></a>
				<a href="mailto:info@sunfrogshirts.com" target="new" class="socialIcon email"></a>
				<a href="https://instagram.com/sunfrogshirts" target="new" class="socialIcon instagram"></a>
				<a href="https://pinterest.com/SunFrogShirts/" target="new" class="socialIcon pinterest"></a>
				<a href="http://www.stumbleupon.com/stumbler/SunfrogShirts" target="new" class="socialIcon stumble"></a>
				<a href="https://www.twitter.com/SunFrogShirts" target="new" class="socialIcon twitter"></a>
				<div class="clearfix"></div>
				<br><br>
			</div>
			<div class="col-sm-6 col-sm-pull-6">
				<div class="col-sm-6">
					<h4>General</h4>
					<a href="/Tracking/">Order Tracking</a><br>
					<a href="/Contact/">FAQ/Help</a><br>
					<a href="/size/">Sizing</a><br><br>
					<h4>Legal</h4>
					<a href="/terms/">Terms</a><br>
					<a href="/copyright/">Copyright</a><br>
					<a href="/Legal/">Report Infringement</a><br>
					<a href="/terms/privacy-policy.cfm">Privacy Policy</a><br><br>
				</div>
				
				<div class="col-sm-6">
					<h4>Our Team</h4>
					<a href="https://manager.sunfrogshirts.com">Artist/Affiliate Login</a><br>
					<a href="https://manager.sunfrogshirts.com/artist-signup.cfm">Artist Signup</a><br>
					<a href="/Affiliates/">Affiliate Signup</a><br>
				</div>
		
				<div class="col-sm-6 ">
					<h4>More</h4>
					<a href="/Wholesale/">Custom WholeSale</a><br>
					<a href="/Marketing/">Marketing</a><br>
					<a href="/Jobs.cfm">Jobs</a><br><br>
				</div>
			</div>
			<div class="clearfix"></div>
			<br>
		</div>	
	</div>
	
	<div class="shellOff" style="padding-top:1em; background:#161616;">
		<div class="container">
			<p class="text-muted small">&copy; COPYRIGHT Tshirt.COM 2015</p>
		</div>
	</div>

</div>