<!-- Begin header -->
<header>
<nav id="MainNav" class="navbar navbar-default shellOff">
		<div class="container">
			<div class="row shellOff">  
				 <div class="col-sm-3 col-md-2 logocase">
				 	<a href="/">
						<img width="135" height="51" class="top-logo" alt="SunFrog Shirts Logo" src="/images/SunFrogShirts-Logo1.svg">
					</a>
				 </div>
				 
			
				
				<div class="col-sm-4 col-md-6 searchbarTopNav cart-checkoutHide">
					<form onsubmit="return plsWaitSearch();" method="get" action="/search/"> 
						
						<input type="hidden" value="0" name="cId" id="byCatSelect">
						<input type="hidden" value="" name="cName" id="byCatName">
						<div class="input-group">
							<div class="input-group-btn search-panel">
								
								<button style="margin-right: -2px;" data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button" aria-expanded="false">	
									
										All
									
									<span class="caret"></span>
								</button>
								<ul role="menu" class="dropdown-menu">
									
									
									
								
									<li><a href="#">All</a></li>
									<li><a href="https://www.sunfrog.com/Best-Sellers/">Best Sellers</a></li>
									
									
											<li><a data-cid="52" href="https://www.sunfrog.com/Automotive/">Automotive</a></li>
										
											<li><a data-cid="51" href="https://www.sunfrog.com/Camping/">Camping</a></li>
										
											<li><a data-cid="26" href="https://www.sunfrog.com/Faith/">Faith</a></li>
										
											<li><a data-cid="50" href="https://www.sunfrog.com/Fishing/">Fishing</a></li>
										
											<li><a data-cid="61" href="https://www.sunfrog.com/Fitness/">Fitness</a></li>
										
											<li><a data-cid="19" href="https://www.sunfrog.com/Funny/">Funny</a></li>
										
											<li><a data-cid="24" href="https://www.sunfrog.com/Geek-Tech/">Geek-Tech</a></li>
										
											<li><a data-cid="35" href="https://www.sunfrog.com/Holidays/">Holidays</a></li>
										
											<li><a data-cid="30" href="https://www.sunfrog.com/Hunting/">Hunting</a></li>
										
											<li><a data-cid="43" href="https://www.sunfrog.com/LifeStyle/">LifeStyle</a></li>
										
											<li><a data-cid="12" href="https://www.sunfrog.com/Movies/">Movies</a></li>
										
											<li><a data-cid="71" href="https://www.sunfrog.com/Music/">Music</a></li>
										
											<li><a data-cid="62" href="https://www.sunfrog.com/Pets/">Pets</a></li>
										
											<li><a data-cid="17" href="https://www.sunfrog.com/Political/">Political</a></li>
										
											<li><a data-cid="27" href="https://www.sunfrog.com/Sports/">Sports</a></li>
										
											<li><a data-cid="34" href="https://www.sunfrog.com/TV Shows/">TV Shows</a></li>
										
											<li><a data-cid="13" href="https://www.sunfrog.com/Video Games/">Video Games</a></li>
										
											<li><a data-cid="11" href="https://www.sunfrog.com/Zombies/">Zombies</a></li>
										
						
								</ul>
							</div>
							
								<input type="text" placeholder="Search over 2 million designs" name="search" class="form-control">
							

							<span class="input-group-btn">
								<button type="submit" class="btn btn-default" id="plsWaitSearchBtn"><span class="glyphicon glyphicon-search"></span></button>
							</span>
							
						</div>
					</form>
				</div>
				
				<div class="col-sm-4 hidden-xs cart-checkoutHide">
					<ul class="nav navbar-nav ">		
						<li class="dropdown"><a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle text-uppercase tpnav" href="#"><strong>Categories</strong> <span class="caret"></span></a>
							<ul role="menu" class="dropdown-menu">
								
									<li><a href="https://www.sunfrog.com/Best-Sellers/">Best Sellers</a></li>
								
										<li><a href="https://www.sunfrog.com/Automotive/">Automotive</a></li>
									
										<li><a href="https://www.sunfrog.com/Camping/">Camping</a></li>
									
										<li><a href="https://www.sunfrog.com/Faith/">Faith</a></li>
									
										<li><a href="https://www.sunfrog.com/Fishing/">Fishing</a></li>
									
										<li><a href="https://www.sunfrog.com/Fitness/">Fitness</a></li>
									
										<li><a href="https://www.sunfrog.com/Funny/">Funny</a></li>
									
										<li><a href="https://www.sunfrog.com/Geek-Tech/">Geek-Tech</a></li>
									
										<li><a href="https://www.sunfrog.com/Holidays/">Holidays</a></li>
									
										<li><a href="https://www.sunfrog.com/Hunting/">Hunting</a></li>
									
										<li><a href="https://www.sunfrog.com/LifeStyle/">LifeStyle</a></li>
									
										<li><a href="https://www.sunfrog.com/Movies/">Movies</a></li>
									
										<li><a href="https://www.sunfrog.com/Music/">Music</a></li>
									
										<li><a href="https://www.sunfrog.com/Pets/">Pets</a></li>
									
										<li><a href="https://www.sunfrog.com/Political/">Political</a></li>
									
										<li><a href="https://www.sunfrog.com/Sports/">Sports</a></li>
									
										<li><a href="https://www.sunfrog.com/TV Shows/">TV Shows</a></li>
									
										<li><a href="https://www.sunfrog.com/Video Games/">Video Games</a></li>
									
										<li><a href="https://www.sunfrog.com/Zombies/">Zombies</a></li>
									
							</ul>
						</li>
						<li><a href="/Contact/">Help</a></li>
					</ul>
				</div>
			</div>
		</div>
</nav>
	<!-- End user meta -->
</header>
<!-- End header -->