<!-- Begin header -->
<header>
	{{ theme:partial name="cart" }}
	<nav id="MainNav" class="navbar navbar-default shellOff">
		<div class="container">
			<div class="row shellOff">
				<div class="col-sm-3 col-md-2 logocase">
					<!-- <a href="/">
						<img width="135" height="51" class="top-logo" alt="SunFrog Shirts Logo" src="/images/SunFrogShirts-Logo1.svg">
					</a> -->
				</div>

				<div class="col-sm-4 col-md-6 searchbarTopNav cart-checkoutHide">
					<form onsubmit="return plsWaitSearch();" method="get"
						action="/search/">
						<input type="hidden" value="0" name="cId" id="byCatSelect">
						<input type="hidden" value="" name="cName" id="byCatName">
						<div class="input-group">
							<div class="input-group-btn search-panel">

								<button style="margin-right: -2px;" data-toggle="dropdown"
									class="btn btn-default dropdown-toggle" type="button"
									aria-expanded="false">

									All <span class="caret"></span>
								</button>
								<ul role="menu" class="dropdown-menu">



								</ul>
							</div>

							<input type="text" placeholder="Search over 2 million designs"
								name="search" class="form-control"> <span
								class="input-group-btn">
								<button type="submit" class="btn btn-default"
									id="plsWaitSearchBtn">
									<span class="glyphicon glyphicon-search"></span>
								</button>
							</span>

						</div>
					</form>
				</div>
			
				<div class="col-sm-4 hidden-xs cart-checkoutHide">
					<ul class="nav navbar-nav ">
						<li class="dropdown"><a aria-expanded="false" role="button"
							data-toggle="dropdown"
							class="dropdown-toggle text-uppercase tpnav" href="#"> <strong>Categories</strong>
								<span class="caret"></span>
						</a>
							<ul role="menu" class="dropdown-menu">


								<li><a href="#">Tshirt</a></li>
								<li><a href="#">Shoes</a></li>

							</ul></li>
						<li><a href="/Contact/">Help</a></li>
					</ul>
				</div>
				<div class="clear-fix"></div>
				
				<button data-target="#cartModal"
				class="navbar-btn navbar-right cart-checkoutHide cart-toggle"
					type="button" id="cartToggleButton">
					<span id="checkOutText"></span><span aria-hidden="true"
					class="glyphicon glyphicon-shopping-cart"></span> <span
					class="badge cart_item_count">0 </span>
				</button>
				
			</div>
		</div>
	</nav>
	<!-- End user meta -->
</header>
<!-- End header -->